/********** Template CSS **********/
:root {
    --primary: #6222CC;
    --secondary: #FBA504;
    --light: #F6F4F9;
    --dark: #04000B;
}

/* Fonts */

/*
 * Quicksand
================================================================================ */
@font-face {
    font-family: "Quicksand-regular";
    src: url("../css/fonts/Quicksand/Quicksand-Regular.ttf") format("truetype"), url("../css/fonts/Quicksand/Quicksand-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Quicksand-bold";
    src: url("../css/fonts/Quicksand/Quicksand-Bold.ttf") format("truetype"), url("../css/fonts/Quicksand/Quicksand-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Quicksand-light";
    src: url("../css/fonts/Quicksand/Quicksand-Light.ttf") format("truetype"), url("../css/fonts/Quicksand/Quicksand-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Quicksand-extrabold";
    src: url("../css/fonts/Quicksand/Quicksand-ExtraBold.ttf") format("truetype"), url("../css/fonts/Quicksand/Quicksand-ExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Quicksand-medium";
    src: url("../css/fonts/Quicksand/Quicksand-Medium.ttf") format("truetype"), url("../css/fonts/Quicksand/Quicksand-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/*
 * Montserrat
================================================================================ */
@font-face {
    font-family: "Montserrat-regular";
    src: url("../css/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype"), url("../css/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat-bold";
    src: url("../css/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype"), url("../css/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat-light";
    src: url("../css/fonts/Montserrat/Montserrat-Light.ttf") format("truetype"), url("../css/fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat-extrabold";
    src: url("../css/fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype"), url("../css/fonts/Montserrat/Montserrat-ExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat-medium";
    src: url("../css/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype"), url("../css/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


/* Overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url(../img/blob-top-right.png), url(../img/blob-center.png) var(--secondary);
    background-position: right 0px top 0px, left 130px top 44%;
    background-repeat: no-repeat;
    z-index: 100;
}




/* .overlay.active {
    display: block;
    transition: visibility 0.5s, opacity 0.5s linear;
} */


#mobile-indicator {
    display: none;
}

@media (max-width: 991.98px) {
    #mobile-indicator {
        display: block;
    }
}

.navbar-collapse {
    z-index: 1000;
    transition: .5s ease-out;
}

.navbar-close {
    display: none;
    z-index: 1000;
    background: transparent;
    border: none;
    transition: visibility 0.5s, opacity 0.5s linear;
    margin: 0px 8px 0px 0px;
}


.navbar-close span {
    font-size: 35px;
}
.navbar-close span:before {
    color: #000;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat-bold', sans-serif;
}

p {
    font-family: 'Quicksand-regular', sans-serif;
}

.letter-spacing {
    letter-spacing: 1px;
}

@media (max-width: 500px) {

    .g-5 {
        --bs-gutter-x: none;
    }

}


/*** Heading ***/
h1,
h2,
.fw-bold {
    font-weight: 700 !important;
}

h3,
h4,
.fw-semi-bold {
    font-weight: 600 !important;
}

h5,
h6,
.fw-medium {
    font-weight: 500 !important;
}




/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}


/*** Navbar ***/

.navbar {
    padding-left: 0 !important;
}

@media (min-width: 992px) {
    .navbar {
        padding-left: 1rem !important;
    }
}

.navbar-light .navbar-toggler {
    font-size: 2rem;
    border: none;
    color: #fff; 
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f067";
    font-family: "Font Awesome 5 Free";
    font-size: 10px;
    font-weight: bold;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar-light .navbar-nav .nav-link {
    position: relative;
    margin-right: 25px;
    padding: 35px 0;
    font-family: 'Quicksand-regular', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: var(--light) !important;
    outline: none;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--dark) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: #000000 !important;
    font-weight: bold;
}

.navbar-light .navbar-brand h1 {
    color: #000000;
}

.navbar-light .navbar-brand img {
    max-height: 60px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 45px;
}

ul.logos {
    margin: 0;
}

@media (max-width: 991.98px) {
    .sticky-top.navbar-light {
        position: relative;
        background: #FFFFFF;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
        color: #000 !important;
    }

    .navbar-light .navbar-brand h1 {
        color: var(--primary);
    }

    .navbar-light .logo-white {
        display: none;
    }

    .navbar-light .navbar-brand .logo-mobile {
        max-height: 75px;
        width: 75px;
    }

    .navbar-light .logo-color,  .navbar-light .logo-color-text {
        display: none;
    }

    .navbar {
        position: absolute;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .navbar-light {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        border-bottom: 1px solid rgba(256, 256, 256, .1);
        z-index: 999;
    }
    
    .sticky-top.navbar-light {
        position: fixed;
        background: #FFFFFF;
        padding-top: 3px !important;
    }

    .sticky-top.navbar-light .navbar-brand h1 {
        color: var(--primary);
    }

    .navbar-light .logo-mobile {
       display: none;
    }

    .sticky-top.navbar-light .logo-white {
       display: none;
    }

    .navbar-light .logo-color {
        display: block;
        position: absolute;
        top: 2px;
        left: 0;
    }

    .navbar-light .logo-color,  .navbar-light .logo-color-text {
        display: none;
    }

   .sticky-top.navbar-light .logo-color-text {
        display: block;
        position: absolute;
        top: 8px;
        left: 35px;
        max-height: 21px !important;
        width: auto;
    }

    .sticky-top.navbar-light .logo-color {
        display: block;
    }
    .sticky-top.navbar-light .logo-color img{
        display: block !important;
        width: 125px;
        max-height: 60px;
    }

    .navbar-light .navbar-nav .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }

    .navbar-light .btn {
        color: var(--dark);
        background: #FFFFFF;
    }

    .sticky-top.navbar-light .btn {
        color: var(--dark);
        background: var(--secondary);
    }
}


/*** Hero Header ***/
.hero-header {
    margin-bottom: 3rem;
    padding: 12rem 0;
    background:
        url(../img/blob-top-left.png),
        url(../img/blob-top-right.png),
        url(../img/blob-bottom-left.png),
        url(../img/blob-bottom-right.png),
        url(../img/blob-center.png),
        url(../img/bg-bottom.png);
    background-position:
        left 0px top 0px,
        right 0px top 0px,
        left 0px bottom 0px,
        right 0px bottom 0px,
        center center,
        center bottom;
    background-repeat: no-repeat;
}

@media (max-width: 991.98px) {
    .hero-header {
        padding: 10rem 0 0;
        margin: 0 0 40px;
    }

    .navbar-collapse {
        margin-top: -30px;
        padding-left: 30px;
    }
}

    @media (max-width: 991.98px) {
        .hero-header .container div div .gallery-img {
            padding: 0 0 120px;
        }
    }


/* Model Styling */
/* 
.course-container {
    position: relative;
} */


.model-img-container {
    margin-top: 23px;
}

@media (max-width: 991.98px) {

.model-info {
    margin-top: 0 !important;
    text-align: center;
}

}

.model-img-title {
    margin: 0;
    z-index: 1;
    position: relative;
    display: block;
}

/* Modal Styling */

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/blob-top-right.png) var(--primary);
    background-position: right 0px top 0px;
    background-repeat: no-repeat;
    z-index: 1000;
    margin: 0;
    overflow: auto;
}

.model-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 0 25px;
}

.model-container h5 {
    width: 75%;
    margin-bottom: 0 !important;
}


.model-container button {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
}

.model-container button i {
    font-size: 35px;
}

.model-container button .fa-circle-info:before { 
    color: #6222CC;
}


.modal {
    display: none;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    padding: 1rem 1.5rem;
    width: 100%;
    height: 100%;
    color: #fff;
    overflow: auto;
}

.modal h5 {
    width: 100%;
    margin: 40px 0 20px !important;
    color: #fff;
}

.modal p {
    line-height: 33px;
    font-size: 18px;
}

.modal .close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    color: #fff;
    position: absolute;
    right: 20px;
    font-size: 40px;
}

.close-button:hover {
    background-color: darkgray;
}


/*** Section Title ***/
.section-title {
    position: relative;
    display: flex;
    align-items: center;
    font-weight: 500;
    text-transform: uppercase;
}

.section-title span:first-child,
.section-title span:last-child {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    width: 30px;
    height: 2px;
}

.section-title span:last-child {
    margin-right: 0;
    margin-left: 30px;
}

.section-title span:first-child::after,
.section-title span:last-child::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 2px;
    top: 0;
    right: -20px;
}

.section-title span:last-child::after {
    right: auto;
    left: -20px;
}


.section-title.text-primary span:first-child,
.section-title.text-primary span:last-child,
.section-title.text-primary span:first-child::after,
.section-title.text-primary span:last-child::after {
    background: var(--primary);
}

.section-title.text-secondary span:first-child,
.section-title.text-secondary span:last-child,
.section-title.text-secondary span:first-child::after,
.section-title.text-secondary span:last-child::after {
    background: var(--secondary);
}

.section-title.text-secondary-light span:first-child,
.section-title.text-secondary-light span:last-child,
.section-title.text-secondary-light span:first-child::after,
.section-title.text-secondary-light span:last-child::after {
    background: #f9ca73;
}

.section-title.text-white span:first-child,
.section-title.text-white span:last-child,
.section-title.text-white span:first-child::after,
.section-title.text-white span:last-child::after {
    background: #FFFFFF;
}

.section-title.text-secondary-light {
    color: #f9ca73;
}

/* HTML / CSS / Web */
.fa-html {
    background-image:  url(../img/html-icon.jpg;)
}


/*** Feature ***/
.feature-item {
    transition: .5s;
}

.feature-item:hover {
    margin-top: -15px;
}


/*** About ***/
.progress {
    height: 5px;
}

.progress .progress-bar {
    width: 0px;
    transition: 3s;
}

.py-5 {
    padding-top: 1rem !important;
}


/*** Fact ***/
.fact {
    margin: 6rem 0;
    background:
        url(../img/blob-top-left.png),
        url(../img/blob-top-right.png),
        url(../img/blob-bottom-left.png),
        url(../img/blob-bottom-right.png),
        url(../img/blob-center.png);
    background-position:
        left 0px top 0px,
        right 0px top 0px,
        left 0px bottom 0px,
        right 0px bottom 0px,
        center center;
    background-repeat: no-repeat;
}


/*** Service ***/

.service-item-container {
    position: relative;
}

.service-item-container.active a.btn {
    color: var(--dark);
    background: var(--secondary);
    transition: .5s;
}

.service-item-container.active a.btn i {
        transform: rotateY(180deg);
        padding: 0 5px 0 0;
        transition: .5s;
}

.flip-container.hover .service-item {
    margin-top: -15px;
    padding-bottom: 60px;
    background: var(--primary);
} 

.flip-container.hover .service-item .service-icon {
    color: var(--dark);
    background: url(../img/blob-secondary.png) center center no-repeat;
    background-size: contain;
} 

.service-item-container a.btn:hover + .flip-container .service-item .service-icon {
    color: var(--dark);
    background: url(../img/blob-secondary.png) center center no-repeat;
    background-size: contain;
}

.flip-container.hover .service-item h5,
.flip-container.hover .service-item p {
    color: #FFFFFF;
}

.service-item-container a.btn:hover + .flip-container .service-item h5, .service-item-container a.btn:hover + .flip-container .service-item p {
    color: #ffffff;
}


.service-item {
    position: relative;
    padding: 45px 30px;
    background: var(--light);
    overflow: hidden;
    transition: .5s;
}

.service-item-container a.btn:hover + .flip-container .service-item, .service-item:hover {
    margin-top: -15px;
    padding-bottom: 60px;
    background: var(--primary);
}

.service-item .service-icon {
    margin: 0 auto 20px auto;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    background: url(../img/blob-primary.png) center center no-repeat;
    background-size: contain;
    transition: .5s;
}

.service-item:hover .service-icon {
    color: var(--dark);
    background: url(../img/blob-secondary.png) center center no-repeat;
    background-size: contain;
}

.service-item h5,
.service-item p {
    transition: .5s;
}

.service-item:hover h5,
.service-item:hover p {
    color: #FFFFFF;
}

.service-item-container a.btn {
    position: absolute;
    bottom: -30px;
    right: 40px;
    width: 65px;
    height: 65px;
    color: #ffffff;
    background: var(--primary);
    border-radius: 50%;
    z-index: 1;
    transition: .5s;
    font-family:'Quicksand-bold', sans-serif;
}

.service-item-container a.btn i { 
    padding: 0 0 0 5px;
    
}

.service-item-container a.btn:hover {
    color: var(--dark);
    background: var(--secondary);
}

.service-item-container:hover a.btn {
    color: var(--dark);
    background: var(--secondary);

	box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0.25rem rgba(239, 171, 11, 0.25);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.9);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}



/* Fipper */

::-ms-fill-upper
.flip-container {
    perspective: 1000px;
  }
  
  .flip-container.hover .flipper {
    transform: rotateY(180deg);
  }
  
  .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }
  /* .front,
  .back {
    backface-visibility: hidden;
    top: 0;
    left: 0;
  } */

  .flip-container.hover .flipper .front {
    display: none;
  }
  .front {
    z-index: 2;
    transform: rotateY(0deg);
  }

  .flip-container.hover .flipper .back {
    display: block;
  }
  .back {
    display: none;
    transform: rotateY(180deg);
  }


/*** Project Portfolio ***/
#portfolio-flters li {
    display: inline-block;
    font-weight: 500;
    color: var(--dark);
    cursor: pointer;
    transition: .5s;
    border-bottom: 2px solid transparent;
}

#portfolio-flters li:hover,
#portfolio-flters li.active {
    color: var(--primary);
    border-color: var(--primary);
}

.portfolio-item img {
    transition: .5s;
}

.portfolio-item:hover img {
    transform: scale(1.1);
}

.portfolio-item .portfolio-overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(98, 34, 204, .9);
    transition: .5s;
    opacity: 0;
}

.portfolio-item:hover .portfolio-overlay {
    opacity: 1;
}

Why Container 

.why-container p, .why-container h1 {
 color: #fff;
}
.why-container .intro-container {
 background-color: #fff;
}


/*** Newsletter ***/
.newsletter {
    margin: 6rem 0;
    background:
        url(../img/blob-top-left.png),
        url(../img/blob-top-right.png),
        url(../img/blob-bottom-left.png),
        url(../img/blob-bottom-right.png),
        url(../img/blob-center.png);
    background-position:
        left 0px top 0px,
        right 0px top 0px,
        left 0px bottom 0px,
        right 0px bottom 0px,
        center center;
    background-repeat: no-repeat;
}


/*** Testimonial ***/
.testimonial-carousel .testimonial-item {
    padding: 0 30px 30px 30px;
}

.testimonial-carousel .owl-nav {
    display: flex;
    justify-content: center;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin: 0 12px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    background: var(--light);
    border-radius: 60px;
    font-size: 22px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: #FFFFFF;
    background: var(--primary);
    box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}


/*** Team ***/
.team-item .btn {
    color: var(--primary);
    background: #FFFFFF;
}

.team-item .btn:hover {
    color: #FFFFFF;
    background: var(--primary);
}


/*** Footer ***/
.footer {
    margin-top: 6rem;
    padding-top: 9rem;
    background:
        url(../img/bg-top.png),
        url(../img/map.png);
    background-position:
        center top,
        center center;
    background-repeat: no-repeat;
}

.footer .btn.btn-social {
    margin-right: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(256, 256, 256, .1);
    border-radius: 40px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    color: var(--light);
    font-weight: normal;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
    color: var(--secondary);
}

.footer .copyright {
    padding: 25px 0;
    font-size: 14px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}

.footer .copyright a:hover,
.footer .footer-menu a:hover {
    color: var(--secondary);
}